/* 使用精灵图统一设置小图标 */


.ico {
  background: url(https://blog0801-1319032318.cos.ap-shanghai.myqcloud.com/icoAll.png) no-repeat;
  display: inline-block;
  width: 17px;
  height: 20px;
  background-size: 100px;
  vertical-align: middle;
}

.ico-footer {
  display: inline-block;
  background: url(https://blog0801-1319032318.cos.ap-shanghai.myqcloud.com/icoAll.png) no-repeat;
  background-size: 125px;
  vertical-align: middle;
  background-position-y: -41px;
  width: 24px;
  /* height: 25px; */
  /* 底栏图标框增大 */
  height: 42px;
  margin-top: 5px;
}

.home-ico {
  background-position-x: -1px;
}

.category-ico {
  background-position-x: -25px;
}

.my-ico {
  background-position-x: -83px;
}

.cart-ico {
  background-position-x: -49px;
  width: 34px;
  background-position-y: -40.5px;
}

/* fill放在最后 */
.fill {
  background-position-y: 1px;
}

.phone-ico {
  background-position-y: -90px;
  background-position-x: -16px;
}

.safe-ico {
  background-position-y: -88px;
  background-position-x: -33px;
}

.lock-ico {
  background-position-y: -88px;
  background-position-x: 1px;
}

.eye-ico {
  background-position-y: -88px;
  background-position-x: -50px;
  width: 20px;
}